body{
  background-color: purple;
}
h1{
  text-align: center;
}

.current-time{
  color: white;
  margin-top: 200px;
  font-size: 150px;

}

.current-time .hours::after, .current-time .minutes::after{
    content: ":";
    padding-left: 40px;

}

#minutes::before{
  content: ":";
  margin-right: 20px;

}

#seconds::before{
  content: ":";
  margin-right: 20px;
}

#status-bar{
  background-color: white;
  height: 5px;

}
