body{
  background-color: purple;
  font-family: helvetica;
}

body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
}


h1{
  text-align: center;
}

.current-time{
  color: white;
  margin-top: 200px;
  font-size: 150px;

}

.current-time .hours::after, .current-time .minutes::after{
    content: ":";
    padding-left: 40px;

}

#minutes::before{
  content: ":";
  margin-right: 35px;

}

#seconds::before{
  content: ":";
  margin-right: 35px;
}

#status-bar{
  display: inline-block;
  background-color: white;
  height: 5px;
}

#status-bar2{
  display: inline-block;
  background-color: white;
  height: 5px;
}

.mirror1{
  position: absolute;
  right: 640px;
  bottom: 250px;
}

.mirror2{
  position: absolute;
  left: 640px;
  bottom: 250px;
}
